
<!--Individual whale item-->
<li id="whale-<%= whale.id %>" class="col-sm-3 col-xs-6 addbottom40
    <%if !whale.owned? %>
        not-owned
    <% end %>">
    <!--Spits out our thumbnail image for our whale-->
    <%=image_tag(whale.photo.url(:thumb))%>
    <!--Spits out the name of our whale and links it to the pod that whale belongs to-->
    <p class="whale-name push-down20"><%= link_to whale.name, whale.pod.user %></p>
    <!--If the whale belongs to the current user, then they should be able to edit it-->
    <% if current_user?(whale.pod.user) %>
    <div class="btn-group btn-group-justified whale-menu" role="group" aria-label="">
        <div class="btn-group" role="group">
          <%=  link_to "Edit", edit_user_pod_whale_path(whale.pod.user.id,whale.pod.id,whale.id) ,{class: "btn btn-primary icon-", type: "button"}%>
        </div>
        <!--<div class="btn-group" role="group">
          <a href="#" class="btn btn-primary icon-" type="button">Delete</a>
        </div>-->
    </div>
    <% end %>

</li>
