<!--<h1>Whales#show</h1>
<p>Find me in app/views/whales/show.html.erb</p>-->

<div class="container push-down200">
    <a href="#">
      <%= image_tag @whales.photo.url%>
    </a>
    <div class="col-md-8 center">
      <div class="whales-name"><h1><%=@whales.name%> </h1></div>
      <div class="whales-description"><h1><%=@whales.description%> </h1></div>
      <div><h1>This Whale Belongs to User<%=@whales.user_id%> </h1></div>
    </div>
</div>