<% provide(:title, 'All users') %>
<div class="container">



  
    <h2>Users:</h2>
    <ul class="row clearfix">
      <li class="users">
        <li>
          <%= render @userslist %>
        </li>
      </ul>
      <h2>Pods:</h2>
      <ul class="pods">
        <li>
          <%= render @podslist %>
        </li>
      </ul>
      <h2>Whales:</h2>
      <ul class="whales">
        <li>
          <%= render @whaleslist %>
        </li>
      </ul>
    </ul>


</div>