<% provide(:title, 'All users') %>

<div class="container">
  <div class="row clearfix search-page text-center push-down30 addbottom60">

    <p class="text-center lead-title">All Users</p>


    <%= will_paginate %>

    <ul class="users push-down20">
        <%= render @users %>
    </ul>

    <%= will_paginate %>

  </div>
</div>