<div class="container clearfix">
    <p>We're looking forward to continuing our experiment with WhiteWhale advertising -- In less than a month we're seeing better responses, statistics and engagement from the WhiteWhale community. We're looking forward to making more of an investment going forward.</p>

    <p>Jane Doe, Director, Social Media & Audience Engagement, Newsweek</p>
    <p>new to WhiteWhale ads? check out our getting started guide!</p>
    <p>want updates on WhiteWhale advertising? join our mailing list!</p>
    <p>follow us on Twitter <a href='http://www.twitter.com/WhiteWhaleXYZ'> @WhiteWhale </a></p>
    <p>large scale advertising? contact our sales team!</p>
    <p>questions? check out our help center!</p>
</div>