<div id="team" class="container">
  <div>
    <h1>Meet our team</h1>
  </div>
  <ul class="list-inline nav-justified text-center push-down100 addbottom120">
    <li>
      <img class="img-circle" src="/assets/Andrew.png" width = 200 px>
      <p>Andrew J Baumann</p>
      <p>Co-founder</p>
      <p>Project Manager,<br>Backend Engineer</p>
    </li>
    <li>
      <img class="img-circle" src="/assets/Bjorn.png" width = 200 px>
      <p>Bjorn K Johnson</p>
      <p>Co-founder</p>
      <p>Full Stack Engineer</p>
    </li>
    <li>
      <img class="img-circle" src="/assets/Nick.png" width = 200 px>
      <p>Eric N Critser</p>
      <p>Co-founder</p>
      <p>DevOps Engineer</p>
    </li>
    <li>
      <img class="img-circle" src="/assets/Tony.png" width = 200 px>
      <p>Tony Zheng</p>
      <p>Co-founder</p>
      <p>Frontend Engineer,<br>Lead Designer</p>
    </li>
    <li>
      <img class="img-circle" src="/assets/Yarley.png" width = 200 px>
      <p>Yarley Geffrard</p>
      <p>Co-founder</p>
      <p>Frontend Engineer,<br>UI/UX Developer</p>
    </li>
  </ul>
</div>