<!DOCTYPE html>

<h3>THE TERMS AND CONDITIONS OF http://www.WhiteWhale.xyz</h3>
<p><b>1 &nbsp;Acceptance The Use Of http://www.WhiteWhale.xyz Terms and Conditions</b></p>
<p>Your  access  to  and  use  of  http://www.WhiteWhale.xyz is  subject exclusively to these Terms and Conditions. You will not use the Website for any purpose that is unlawful or prohibited by these Terms and Conditions. By using  the  Website  you  are  fully  accepting  the  terms,  conditions  and disclaimers contained in this notice. If you do not accept these Terms and Conditions you must immediately stop using the Website.</p>

<p><b>2 &nbsp;CREDIT CARD DETAILS</b></p>
<p>http://www.WhiteWhale.xyz will never ask for your credit card details and we advice our customers to not enter their credit cards details on http://www.WhiteWhale.xyz website or by submitting such details in any other form.</p>

<p><b>3 &nbsp;LEGAL ADVICE</b></p>
<p>The contents of http://www.WhiteWhale.xyz website do not constitute advice and should not be relied upon in making or refraining from making, any decision. <br /> All material contained on http://www.WhiteWhale.xyz is provided without any or warranty of any kind. You use the material on http://www.WhiteWhale.xyz at your own discretion</p>

<p><b>4 &nbsp;CHANGE OF USE</b></p>
<p>http://www.WhiteWhale.xyz reserves the right to:<br /> 4.1 &nbsp;change or remove (temporarily or permanently) the Website or any part of it without notice and you confirm that http://www.WhiteWhale.xyz shall not be liable to you for any such change or removal and.<br /> 4.2 &nbsp;change these Terms and Conditions at any time, and your continued use of the Website following any changes shall be deemed to be your acceptance of such change.</p>

<p><b>5 &nbsp;Links to Third Party Websites</b></p>
<p>http://www.WhiteWhale.xyz Website may include links to third party websites that are controlled and maintained by others. Any link to other websites is not an endorsement of such websites and you acknowledge and agree that we are not responsible for the content or availability of any such sites.</p>

<p><b>6 &nbsp;COPYRIGHT</b></p>
<p>6.1 &nbsp;All  copyright,  trade  marks  and  all  other  intellectual  property  rights  in  the Website and its content (including without limitation the Website design, text, graphics and all software and source codes connected with the Website) are owned by or   licensed to http://www.WhiteWhale.xyz or otherwise used by http://www.WhiteWhale.xyz as permitted by law.<br /> 6.2 &nbsp;In accessing the Website you agree that you will access the content solely for your personal, non-commercial use. None of the content may be downloaded, copied, reproduced, transmitted, stored, sold or distributed without the prior written consent of the copyright holder. This excludes the downloading, copying and/or printing of pages of the Website for personal, non-commercial home use only.</p>

<p><b>7 &nbsp;LINKS TO AND FROM OTHER WEBSITES</b></p>
<p>7.1 &nbsp;Throughout this Website you may find links to third party websites. The provision of a link to such a website does not mean that we endorse that website. If you visit any website via a link on this Website you do so at your own risk.<br /> 7.2 &nbsp;Any party wishing to link to this website is entitled to do so provided that the conditions below are observed:<br /> &nbsp;&nbsp;&nbsp;(a) &nbsp;you do not seek to imply that we are endorsing the services or products of another party unless this has been agreed with us in writing;<br /> &nbsp;&nbsp;&nbsp;(b) &nbsp;you do not misrepresent your relationship with this website; and<br/> &nbsp;&nbsp;&nbsp;(c) ;&nbsp;the website from which you link to this Website does not contain offensive or otherwise  controversial content or, content that infringes any intellectual property rights or other rights of a third party.<br /> 7.3 &nbsp;By linking to this Website in breach of our terms, you shall indemnify us for any loss or damage suffered to this Website as a result of such linking.</p>

<p><b>8 &nbsp; DISCLAIMERS AND LIMITATION OF LIABILITY</b></p>
<p>8.1 &nbsp;The Website is provided on an AS IS and AS AVAILABLE basis without any representation or endorsement made and without warranty of any kind whether express or implied, including but not limited to the implied warranties of satisfactory quality, fitness for a particular purpose, non-infringement, compatibility, security and accuracy.<br /> 8.2 &nbsp;To the extent permitted by law, http://www.WhiteWhale.xyz will not be liable for any indirect or consequential loss or damage whatever (including without limitation loss of business, opportunity, data, profits) arising out of or in connection with the use of the Website.<br /> 8.3 &nbsp;http://www.WhiteWhale.xyz makes no warranty that the functionality of the Website will be uninterrupted or error free, that defects will be corrected or that the Website or the server that makes it available are free of viruses or anything else which may be harmful or destructive.<br /> 8.4 &nbsp;Nothing in these Terms and Conditions shall be construed so as to exclude or limit the liability of http://www.WhiteWhale.xyz for death or personal injury as a result of the negligence of http://www.WhiteWhale.xyz or that of its employees or agents.</p>

<p><b>9 &nbsp;INDEMNITY</b></p>
<p>You agree to indemnify and hold http://www.WhiteWhale.xyz and its employees and agents harmless from and against all liabilities, legal fees, damages, losses, costs and other expenses in relation to any claims or actions brought against http://www.WhiteWhale.xyz arising out of any breach by you of these Terms and Conditions or other liabilities arising out of your use of this Website.</p>

<p><b>10 &nbsp;SEVERANCE</b></p>
<p>If any of these Terms and Conditions should be determined to be invalid, illegal or unenforceable for any reason by any court of competent jurisdiction then such Term or Condition shall be severed and the remaining Terms and Conditions shall survive and remain in full force and effect and continue to be binding and enforceable.</p>

<p><b>11 &nbsp;WAIVER</b></p>
<p>If you breach these Conditions of Use and we take no action, we will still be entitled to use our rights and remedies in any other situation where you breach these Conditions of Use.</p>

<p><b>12 &nbsp;GOVERNING LAW</b></p>
<p>These Terms and Conditions shall be governed by and construed in accordance with the law of United States and you hereby submit to the exclusive jurisdiction of the United States courts.</p>

<p><b>13 &nbsp;OUR CONTACT DETAILS</b></p>
<p><b>Our Office Address:</b></p>
695 Park Ave<br/>
<br/>
New York<br/>
10065<br/>
United States<br/>
<br/>
<p></p>
For any further information please email the <a href='mailto:WhiteWhaleXYZ@gmail.com'> WhiteWhale </a>Team