<!DOCTYPE html>
<html>
<head>
  <title>Oh-uh! You missed your chance, Hunter! (404) </title>
</head>
<body>
    <div class="lost-fisherman">
        <img src="/assets/404.png" alt="404" width="1150" align="middle">
    </div>
</body>
</html>