<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= form_tag :controller => 'user_pages', :method => 'get', :action => 'search' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search" %>
    </p>
<% end %>

<ul class="users">
  <li>
    <%= render @userslist %>
  </li>
</ul>
