<!--<h1>UserPages#sets</h1>
<p>Find me in app/views/user_pages/sets.html.erb</p>-->
<div class="container push-down">
  <!----********SETS PAGE********----->
  <div class="row clearfix text-center" id="suggestions">
    <div class="col-md-3">
      <div class="row clearfix h3">SUGGESTIONS
      </div>
      <span class="row clearfix" id="suggestion-btn"><button>SUGG BTN</button></span>
    </div>
    <div class="col-md-9 suggestions">
      <div class="col-md-3" id="suggestion-1"><a href="#">suggest1<img src="/img/placeholder.png"/></a></div>
      <div class="col-md-3" id="suggestion-2"><a href="#">suggest2<img src="/img/placeholder.png"/></a></div>
      <div class="col-md-3" id="suggestion-3"><a href="#">suggest3<img src="/img/placeholder.png"/></a></div>
      <div class="col-md-3" id="suggestion-4"><a href="#">suggest4<img src="/img/placeholder.png"/></a></div>
    </div>
  </div>
  <div class="row clearfix" id="sets-result">
    <!--Should dynamically add rows as needed in multiples of 2-->
    <div class="row clearfix">
      <div id="sets-item" class="col-md-4">
        <div class="col-md-6">
          <div class="row clearfix"><a href="#"><img src="/img/placeholder.png"/></a></div>
          <div class="row clearfix"><a href="#">[ADD TO WISHLIST ICON]</a></div>
        </div>
        <div class="col-md-6">
          <div class="" id="sets-name">Item NAME</div>
          <div class="row clearfix">
            <a href="#">
              <div class="col-md-3">[Owner Icon]</div>
              <div class="col-md-9">John Doe</div>
            </a>
          </div>
          <div class="row clearfix">
            <a href="#">
              <div class="col-md-3">[RankIcon]</div>
              <div class="col-md-9">RankNumber</div>
            </a>
          </div>
        </div>
      </div>
      <div id="sets-item" class="col-md-4">
        <div class="col-md-6">
          <div class="row clearfix"><a href="#"><img src="/img/placeholder.png"/></a></div>
          <div class="row clearfix"><a href="#">[ADD TO WISHLIST ICON]</a></div>
        </div>
        <div class="col-md-6">
          <div class="" id="sets-name">Item NAME</div>
          <div class="row clearfix">
            <a href="#">
              <div class="col-md-3">[Owner Icon]</div>
              <div class="col-md-9">John Doe</div>
            </a>
          </div>
          <div class="row clearfix">
            <a href="#">
              <div class="col-md-3">[RankIcon]</div>
              <div class="col-md-9">RankNumber</div>
            </a>
          </div>
        </div>
      </div>
      <div id="sets-item" class="col-md-4">
        <div class="col-md-6">
          <div class="row clearfix"><a href="#"><img src="/img/placeholder.png"/></a></div>
          <div class="row clearfix"><a href="#">[ADD TO WISHLIST ICON]</a></div>
        </div>
        <div class="col-md-6">
          <div class="" id="sets-name">Item NAME</div>
          <div class="row clearfix">
            <a href="#">
              <div class="col-md-3">[Owner Icon]</div>
              <div class="col-md-9">John Doe</div>
            </a>
          </div>
          <div class="row clearfix">
            <a href="#">
              <div class="col-md-3">[RankIcon]</div>
              <div class="col-md-9">RankNumber</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div id="sets-item" class="col-md-4">
        <div class="col-md-6 text-right">
          <div class="" id="sets-name">Item NAME</div>
          <div class="row clearfix">
            <a href="#">
              <div class="col-md-9">John Doe</div>
              <div class="col-md-3">[Owner Icon]</div>
            </a>
          </div>
          <div class="row clearfix">
            <a href="#">
              <div class="col-md-9">RankNumber</div>
              <div class="col-md-3">[RankIcon]</div>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row clearfix"><a href="#"><img src="/img/placeholder.png"/></a></div>
          <div class="row clearfix"><a href="#">[ADD TO WISHLIST ICON]</a></div>
        </div>
      </div>
      <div id="sets-item" class="col-md-4">
        <div class="col-md-6 text-right">
          <div class="" id="sets-name">Item NAME</div>
          <div class="row clearfix">
            <a href="#">
              <div class="col-md-9">John Doe</div>
              <div class="col-md-3">[Owner Icon]</div>
            </a>
          </div>
          <div class="row clearfix">
            <a href="#">
              <div class="col-md-9">RankNumber</div>
              <div class="col-md-3">[RankIcon]</div>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row clearfix"><a href="#"><img src="/img/placeholder.png"/></a></div>
          <div class="row clearfix"><a href="#">[ADD TO WISHLIST ICON]</a></div>
        </div>
      </div>
      <div id="sets-item" class="col-md-4">
        <div class="col-md-6 text-right">
          <div class="" id="sets-name">Item NAME</div>
          <div class="row clearfix">
            <a href="#">
              <div class="col-md-9">John Doe</div>
              <div class="col-md-3">[Owner Icon]</div>
            </a>
          </div>
          <div class="row clearfix">
            <a href="#">
              <div class="col-md-9">RankNumber</div>
              <div class="col-md-3">[RankIcon]</div>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row clearfix"><a href="#"><img src="/img/placeholder.png"/></a></div>
          <div class="row clearfix"><a href="#">[ADD TO WISHLIST ICON]</a></div>
        </div>
      </div>
    </div>
  </div>
  <!----********/ SETS PAGE********----->
</div>