<% provide(:title, 'All Pods') %>
<h1>All pods</h1>
<ul class="pods">
  <% @user.pods do |pod| %>
  <li>
    <%= gravatar_for pod, size: 50 %>
    <%= link_to pod.name, pod %>
  </li>
  <% end %>
</ul>
