
.icon-google-circles:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-instagram-circled:before { content: '\e802'; } /* '' */
.icon-user-outline:before { content: '\e803'; } /* '' */
.icon-heart-empty:before { content: '\e804'; } /* '' */
.icon-star:before { content: '\e805'; } /* '' */
.icon-star-empty:before { content: '\e806'; } /* '' */
.icon-star-half:before { content: '\e807'; } /* '' */
.icon-star-half-alt:before { content: '\e808'; } /* '' */
.icon-link:before { content: '\e809'; } /* '' */
.icon-lock:before { content: '\e80a'; } /* '' */
.icon-lock-open:before { content: '\e80b'; } /* '' */
.icon-lock-open-alt:before { content: '\e80c'; } /* '' */
.icon-pin:before { content: '\e80d'; } /* '' */
.icon-eye:before { content: '\e80e'; } /* '' */
.icon-eye-off:before { content: '\e80f'; } /* '' */
.icon-download:before { content: '\e810'; } /* '' */
.icon-upload:before { content: '\e811'; } /* '' */
.icon-cog:before { content: '\e812'; } /* '' */
.icon-wrench:before { content: '\e813'; } /* '' */
.icon-angle-left:before { content: '\e814'; } /* '' */
.icon-angle-right:before { content: '\e815'; } /* '' */
.icon-angle-up:before { content: '\e816'; } /* '' */
.icon-angle-down:before { content: '\e817'; } /* '' */
.icon-angle-circled-left:before { content: '\e818'; } /* '' */
.icon-angle-circled-right:before { content: '\e819'; } /* '' */
.icon-angle-circled-up:before { content: '\e81a'; } /* '' */
.icon-angle-circled-down:before { content: '\e81b'; } /* '' */
.icon-angle-double-left:before { content: '\e81c'; } /* '' */
.icon-angle-double-right:before { content: '\e81d'; } /* '' */
.icon-angle-double-up:before { content: '\e81e'; } /* '' */
.icon-angle-double-down:before { content: '\e81f'; } /* '' */
.icon-down:before { content: '\e820'; } /* '' */
.icon-level-down:before { content: '\e821'; } /* '' */
.icon-level-up:before { content: '\e822'; } /* '' */
.icon-arrows-cw:before { content: '\e823'; } /* '' */
.icon-shuffle:before { content: '\e824'; } /* '' */
.icon-user:before { content: '\e825'; } /* '' */
.icon-users-outline:before { content: '\e826'; } /* '' */
.icon-download-1:before { content: '\e827'; } /* '' */
.icon-upload-1:before { content: '\e828'; } /* '' */
.icon-users:before { content: '\e829'; } /* '' */
.icon-user-add-outline:before { content: '\e82a'; } /* '' */
.icon-user-add:before { content: '\e82b'; } /* '' */
.icon-user-delete-outline:before { content: '\e82c'; } /* '' */
.icon-user-delete:before { content: '\e82d'; } /* '' */
.icon-location:before { content: '\e82e'; } /* '' */
.icon-eye-outline:before { content: '\e82f'; } /* '' */
.icon-eye-1:before { content: '\e830'; } /* '' */
.icon-chart:before { content: '\e831'; } /* '' */
.icon-wrench-1:before { content: '\e832'; } /* '' */
.icon-cog-1:before { content: '\e833'; } /* '' */
.icon-pinterest-circled:before { content: '\e834'; } /* '' */
.icon-twitter-circled:before { content: '\e835'; } /* '' */
.icon-facebook-circled-1:before { content: '\e836'; } /* '' */
.icon-search:before { content: '\e837'; } /* '' */
.icon-login:before { content: '\e838'; } /* '' */
.icon-logout:before { content: '\e839'; } /* '' */
.icon-icon-whale:before { content: '\e83a'; } /* '' */
.icon-globe:before { content: '\e83b'; } /* '' */
.icon-resize-full:before { content: '\e83c'; } /* '' */
.icon-resize-small:before { content: '\e83d'; } /* '' */
.icon-cup:before { content: '\e83e'; } /* '' */
.icon-trash:before { content: '\e83f'; } /* '' */
.icon-link-1:before { content: '\e840'; } /* '' */
.icon-spin2:before { content: '\e841'; } /* '' */
.icon-collection:before { content: '\e842'; } /* '' */
.icon-icon-sets:before { content: '\e843'; } /* '' */
.icon-icon-trending:before { content: '\e844'; } /* '' */
.icon-home:before { content: '\e845'; } /* '' */
.icon-info-1:before { content: '\e846'; } /* '' */
.icon-edit:before { content: '\e847'; } /* '' */
.icon-plus:before { content: '\e848'; } /* '' */
.icon-minus:before { content: '\e849'; } /* '' */
.icon-pencil:before { content: '\e84a'; } /* '' */
.icon-cancel:before { content: '\e84b'; } /* '' */
.icon-ok:before { content: '\e84c'; } /* '' */
.icon-retweet:before { content: '\e84d'; } /* '' */
.icon-doc-new:before { content: '\e84e'; } /* '' */
.icon-video-circled:before { content: '\e84f'; } /* '' */
.icon-opentable:before { content: '\e850'; } /* '' */