

<div id="footer" class="clearfix push-down30 addbottom40">
  <!--<p class="pull-right"><a href="#">Back to top</a></p>-->
  <div id="footer-menu" class="container text-center">
    <div id="social-icons" class="col-md-4">
      <ul class="list-inline nav-justified">
        <li><a href="https://www.facebook.com/pages/Whitewhalexyz/438176596347688?skip_nax_wizard=true&ref_type=logout_gear"> <img src = "/assets/circle-facebook.png"> </a></li>
        <li><a href="https://twitter.com/whitewhaleXYZ"> <img src = "/assets/circle-twitter.png"> </a></li>
        <li><a href="https://www.youtube.com/channel/UCPip6yJGtHkKsxqp63PaY_A"> <img src = "/assets/circle-youtube.png"> </a></li>
        <li><a href="https://instagram.com/whitewhalexyz/"> <img src = "/assets/circle-instagram.png"> </a></li>
        <li><a href="https://www.pinterest.com/whitewhalexyz/"> <img src = "/assets/circle-pinterest.png"> </a></li>
      </ul>
    </div>
    <div id="footer-menu" class="col-md-offset-4 col-md-4">
      <ul class="list-inline nav-justified">
        <li><a href="/privacy">Privacy</a></li>
        <li><a href="/terms">Terms</a></li>
        <li><a href="/advertise">Advertise</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
  <div class="text-center"><a href="/">© <%= Time.now.year %> White Whale XYZ</a></div>
</div>