<div id="main-nav" class="navbar-wrapper">
  <div class="navbar navbar-inverse navbar-static-top navbar-fixed-top container-fluid">
    <div class="container">
      <div class="navbar-header col-md-2">
        <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="navbar-brand" href="/"> <p class="icon-icon-whale"> </p> </a>
      </div>
      <div class="col-md-6 col-md-offset-1">
        <div id="header-search" class="row clearfix">
          <div class="input-group">
            <input id="header-search-input" name="header-search-input" type="text" class="search-query form-control" placeholder="Search Items, Collections, Sets" />
                <span class="input-group-btn">
                    <button id="header-search-submit" name="header-search-submit" class="btn" type="button">
                      <span class="icon-search"></span>
                    </button>
                </span>
          </div>
        </div>
        <div class="row navbar-collapse collapse clearfix menu">
          <ul class="nav nav-justified nav-pills">
          <% if logged_in? %>

            <li class="active"><a href="#"> <p class ="icon-icon-sets"> </p> <div class="row clearfix text"> SETS </div> </a></li>
            <li><a href="#" target="ext"> <p class ="icon-collection"> </p> <div class="row clearfix text"> COLLECTIONS </div> </a></li>
            <li><a href="#"> <p class ="icon-icon-trending"> </p> <div class="row clearfix text"> TRENDING </div> </a></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-md-3 pull-right text-right logins">
        <div class="col-md-6">
          <% if logged_in? %>

                <%= link_to "Log out", logout_path, method: "delete", :class=> "icon-logout" %>
                <%= link_to "Settings", edit_user_path(current_user), :method => "get", :class=> "icon-cog" %>
                <%= link_to "Users", users_path, :class=> "icon-user"%>

          <% else %>
            <a href="#" id="top-right-login" data-toggle="modal" data-target="#Login-Modal"> <p class="icon-login login-icons"> LOGIN </p> </a>
        </div>
        <div class="col-md-6">
          <a href="#" id="top-right-signup" href="#" data-toggle="modal" data-target="#Signup-Modal"> <p class="icon-opentable login-icons"> SIGNUP </p></a>
        </div>
        <% end %>
        <!--Once user is logged in to display-->
        <!--<div id="top-right-logged-in">
            <!--<div id="top-right" class="row">
              <div class="col-md-6"><a href="#">ICON1</a></div>
              <div class="col-md-6"><a href="#">ICON2</a></div>
            </div>
            <div class="row">
                <div class="col-md-6"><a href="#">ICON3</a></div>
              <div class="col-md-6"><a href="#">ICON4</a></div>
            </div>
        </div>-->
      </div>
    </div><!-- /container -->
  </div>
</div><!-- /navbar wrapper -->