<div id="main-nav" class="navbar-wrapper">
  <div class="navbar navbar-inverse navbar-static-top navbar-fixed-top container-fluid">
    <div class="container">
      <div class="navbar-header col-md-2">
        <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="navbar-brand" href="/"> <p class="icon-test" style="font-size:65px"> </p> </a>
      </div>
      <div class="col-md-6 col-md-offset-1">
        <div id="header-search" class="row clearfix">
          <div class="input-group">
            <input id="header-search-input" name="header-search-input" type="text" class="search-query form-control text-center" placeholder="Search Items, Collections, Sets" />
                <span class="input-group-btn">
                    <button id="header-search-submit" name="header-search-submit" class="btn" type="button">
                      <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
          </div>
        </div>
        <div class="row navbar-collapse collapse clearfix">
          <ul class="nav nav-justified nav-pills">
          <% if logged_in? %>
            <li class="active"><a href="#">SETS</a></li>
            <li><a href="#" target="ext">COLLECTIONS</a></li>
            <li><a href="#">TRENDING</a></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-md-3 pull-right text-right logins">
        <div class="col-md-6">
          <% if logged_in? %>
                <%= link_to "Log out", logout_path, method: "delete" %>
                <%= link_to "Settings", edit_user_path(current_user), :method => "get" %>
                
          <% else %>
            <a href="#" id="top-right-login" data-toggle="modal" data-target="#Login-Modal">LOGIN
            </a>
        </div>
        <div class="col-md-6">
          <a href="#" id="top-right-signup" href="#" data-toggle="modal" data-target="#Signup-Modal">SIGNUP</a>
        </div>
        <% end %>
        <!--Once user is logged in to display-->
        <!--<div id="top-right-logged-in">
            <!--<div id="top-right" class="row">
              <div class="col-md-6"><a href="#">ICON1</a></div>
              <div class="col-md-6"><a href="#">ICON2</a></div>
            </div>
            <div class="row">
                <div class="col-md-6"><a href="#">ICON3</a></div>
              <div class="col-md-6"><a href="#">ICON4</a></div>
            </div>
        </div>-->
      </div>
    </div><!-- /container -->
  </div>
</div><!-- /navbar wrapper -->