<!-- Modal Login -->
<div class="modal fade" id="Login-Modal" tabindex="-1" role="dialog" aria-labelledby="Login-Modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="Login-Modal-Label">Login Form</h4>
      </div>
      <div class="modal-body">
        <!--  Login FORM-->
        <form accept-charset="UTF-8" action="/login" method="post">
          <input name="utf8" type="hidden" value="&#x2713;" />
          <input name="authenticity_token" type="hidden"
                 value="NNb6+J/j46LcrgYUC60wQ2titMuJQ5lLqyAbnbAUkdo=" />
          <label for="session_email">Email</label>
          <input class="form-control" id="session_email"
                 name="session[email]" type="text" />
          <label for="session_password">Password</label>
          <input id="session_password" name="session[password]"
                 type="password" />
          <input class="btn btn-primary" name="commit" type="submit"
                 value="Log in" />

          <label class="checkbox inline" for="session_remember_me">
          <input name="session[remember_me]" type="hidden" value="0" /><input type="checkbox" value="1" name="session[remember_me]" id="session_remember_me" />
          <span>Remember me on this computer</span>
          
        </form>
        <!--Login FORM -->
      </div>
      <div class="modal-footer">
        <button id="login-submit" name="login-submit" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Register -->
<div class="modal fade" id="Signup-Modal" tabindex="-1" role="dialog" aria-labelledby="Signup-Modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="Signup-Modal-Label">Signup Form</h4>
      </div>
      <div class="modal-body">

        <!-- FORM-->
        <form class="new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="BJYHGjFHWEl/EOPqclt0STjToeZejA4F6PWqq6nAjyzVcT19auR51aKmd6w9L6EWaPb4CtWYAINcrDERy2B3jw==" />


          <label for="user_name">Name</label>
          <input class="form-control" type="text" name="user[name]" id="user_name" />

          <label for="user_email">Email</label>
          <input class="form-control" type="email" name="user[email]" id="user_email" />

          <label for="user_password">Password</label>
          <input class="form-control" type="password" name="user[password]" id="user_password" />

          <label for="user_password_confirmation">Confirmation</label>
          <input class="form-control" type="password" name="user[password_confirmation]" id="user_password_confirmation" />

          <input type="submit" name="commit" value="Create my account" class="btn btn-primary" />
        </form>
        <!-- FORM -->

      </div>
      <div class="modal-footer">
        <button id="signup-submit" name="signup-submit" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>